<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find robotis_mini_description)/urdf/robotis_mini.urdf"/>

  <!-- define the robot_description parameter as the output of the xacro deparser on the urdf model of the robot-->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- launch gazebo. You can use any of the arguments at the beginning of the launch file--> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotis_mini_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
  </include>
 
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" 
      args="-z 0.13 -urdf -param robot_description -model robotis_mini
                                                        -J r_hip_joint 0.0000
                                                        -J r_thigh_joint -0.799297
                                                        -J r_knee_joint 1.570796
                                                        -J r_ankle_joint 0.884795
                                                        -J r_foot_joint 0.040955
                                                        -J l_hip_joint 0.059922
                                                        -J l_thigh_joint 0.802050
                                                        -J l_knee_joint -1.570796
                                                        -J l_ankle_joint -0.883127
                                                        -J l_foot_joint 0.047817" />
</launch>